<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Orion UI Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76ae94">  <td>17/07/03 16:18:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTest.SignUpPageOpen()[pri:0, instance:test.tset1.AppTest@d8355a8]">&gt;&gt;SignUpPageOpen</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 16:18:43</td>   <td>21578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTest.testbefore()[pri:0, instance:test.tset1.AppTest@d8355a8]">&gt;&gt;testbefore</td> 
<td>&nbsp;</td>  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 16:18:43</td>   <td>21578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.Wtest2()[pri:0, instance:test.tset1.AppTest@d8355a8]">Wtest2</td> 
  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 16:18:43</td>   <td>21587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AppTest.aftermethod()[pri:0, instance:test.tset1.AppTest@d8355a8]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 16:18:43</td>   <td>21591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTest.testbefore()[pri:0, instance:test.tset1.AppTest@d8355a8]">&gt;&gt;testbefore</td> 
<td>&nbsp;</td>  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 16:18:43</td>   <td>21591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.test3()[pri:0, instance:test.tset1.AppTest@d8355a8]">test3</td> 
  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 16:18:43</td>   <td>21594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AppTest.aftermethod()[pri:0, instance:test.tset1.AppTest@d8355a8]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 16:18:43</td>   <td>21598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTest.testbefore()[pri:0, instance:test.tset1.AppTest@d8355a8]">&gt;&gt;testbefore</td> 
<td>&nbsp;</td>  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 16:18:43</td>   <td>21598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.test4()[pri:0, instance:test.tset1.AppTest@d8355a8]">test4</td> 
  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 16:18:43</td>   <td>21601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AppTest.aftermethod()[pri:0, instance:test.tset1.AppTest@d8355a8]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1508646930</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 16:18:43</td>   <td>21601</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AppTest.afterclass()[pri:0, instance:test.tset1.AppTest@d8355a8]">&lt;&lt;afterclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1508646930</td>   <td></td> </tr>
</table>
