<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76ae94">  <td>17/07/03 14:57:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTest.SignUpPageOpen()[pri:0, instance:test.tset1.AppTest@d8355a8]">&gt;&gt;SignUpPageOpen</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 14:58:00</td>   <td>22847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTest.testbefore()[pri:0, instance:test.tset1.AppTest@d8355a8]">&gt;&gt;testbefore</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 14:58:00</td>   <td>22848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.Wtest2()[pri:0, instance:test.tset1.AppTest@d8355a8]">Wtest2</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 14:58:00</td>   <td>22856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AppTest.aftermethod()[pri:0, instance:test.tset1.AppTest@d8355a8]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/03 14:58:00</td>   <td>22878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.test3()[pri:0, instance:test.tset1.AppTest@d8355a8]">test3</td> 
  <td>main@795372831</td>   <td></td> </tr>
</table>
